<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623195324181-elchqg7a3rfql4sh8kloagpdfikhqn2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623195324181-elchqg7a3rfql4sh8kloagpdfikhqn2g</string>
	<key>API_KEY</key>
	<string>AIzaSyB3AAp0_rM1dpRxCoc3iKDd-ssyNnQ3pD4</string>
	<key>GCM_SENDER_ID</key>
	<string>623195324181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.windowapp</string>
	<key>PROJECT_ID</key>
	<string>windowapp-b60b1</string>
	<key>STORAGE_BUCKET</key>
	<string>windowapp-b60b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623195324181:ios:0467525df9617ea0a7f31c</string>
</dict>
</plist>